<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453698383966-i3rlnd9fjj7coosq70dh48465qjjppmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453698383966-i3rlnd9fjj7coosq70dh48465qjjppmb</string>
	<key>API_KEY</key>
	<string>AIzaSyA5_zTGOd5rWlea2ps4b2O9ZVMiHZWhjhI</string>
	<key>GCM_SENDER_ID</key>
	<string>453698383966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipApp.BookSwapProject</string>
	<key>PROJECT_ID</key>
	<string>bookswapproject</string>
	<key>STORAGE_BUCKET</key>
	<string>bookswapproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453698383966:ios:1cd56425380a23b10f04cf</string>
</dict>
</plist>